
/****************************** signup.php ******************************/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black1);
}

main > div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white2);
    border-radius: 5px;
    padding: 5px;
    margin-top: 30px;
    box-shadow: 3px 10px 15px hsl(0deg 0% 70% / 30%);
}

main form{

    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

main label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 20px;
    padding: 5px;
}

main input[type="text"], main input[type="password"], main input[type="email"] {
    width: 200px;
    padding: 10px;
    border: 1px solid var(--black1);
    border-radius: 5px;
}

main input[type="submit"] {
    width: 222px;
    padding: 10px;
    background-color: white;
    border: 1px solid var(--black1);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}

main input[type="submit"]:hover {
    background-color: var(--grey3);
    border: 1px solid white;
    cursor: pointer;
}